<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- Google Fonts - Fredoka One -->
    <!-- For Banner -->
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
    <!-- For Nav Links -->
    <link href="https://fonts.googleapis.com/css2?family=Fredoka&family=Julius+Sans+One&display=swap" rel="stylesheet">

    <title>Adopt-A-Petopia</title>
    <style>
        .cute-navbar {
            background-color: #18ABDD;
            padding: 10px;
            border-radius: 20px;
        }

        .cute-navbar .navbar-brand {
            margin-right: auto;
            display: flex;
            align-items: center;
        }

        .cute-navbar .nav-link {
            color: white;
            font-size: 18px;
            font-family: 'Fredoka', cursive;
            margin: 0 10px;
            text-decoration: none;
            transition: color 0.3s ease;
            letter-spacing: 1px;
        }

        .cute-navbar .nav-link:hover {
            color: #84D1EB;
        }

        td a {
            font-family: 'Fredoka', cursive;
            text-decoration: none;
            color: #18ABDD;
            transition: color 0.3s;
        }

        td a:hover {
            color: #84D7F3;
            text-decoration: none;
        }

        .form-error {
            font-family: 'Fredoka', cursive;
            color: #c12e38;
            font-size: 17px;
        }
    </style>
</head>
<body>
<!-- Main Body of Page -->
<div class="container">
    <!-- Nav Bar-->
    <nav class="navbar cute-navbar relative-top">
        <a class="navbar-brand text-white" href="/"
           style="font-family: 'Fredoka One', cursive; font-size: 30px; text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;">
            <img src="paw.png" alt="Paw Image" height="40" style="margin-right: 10px;">
            <!-- Add the paw image to the left -->
            <span style="color: #FF9B26;">Adopt</span>
            <span>-A-</span>
            <span style="color: #FF9B26;">Petopia</span>
        </a>
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link" href="pets">Pets</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="species">Species</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="breeds">Breeds</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="adopters">Adopters</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="shelters">Shelters</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="adoptions">Adoptions</a>
            </li>
        </ul>
    </nav>
    <!-- Edit Adopters Page -->
    <div class="row m-4">
        <div class="col text-center">
            <div class="col text-center m-3">
                <h2 class="mt-3 mb-3" style="font-family: 'Fredoka One', cursive; letter-spacing: 2px;">Edit Adopter</h2>
                <form th:action="@{/editAdopter(id=${adopter.id})}" method="POST">
                    <div class="form-group row">
                        <label for="name" class="col-3 col-form-label"
                               style="font-family: 'Fredoka One', cursive; letter-spacing: 1px;">Adopter Name:</label>
                        <div class="col-9">
                            <input type="text" class="form-control" id="name" name="name" th:value="${adopter.name}">
                            <div th:if="${#fields.hasErrors('adopter.name')}">
                                <p th:each="error : ${#fields.errors('adopter.name')}" class="form-error"
                                   th:text="${error}"> Bad Adopter Name </p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="email" class="col-3 col-form-label"
                               style="font-family: 'Fredoka One', cursive; letter-spacing: 1px;">Email:</label>
                        <div class="col-9">
                            <input type="text" class="form-control" id="email" name="email" th:value="${adopter.email}">
                            <div th:if="${#fields.hasErrors('adopter.email')}">
                                <p th:each="error : ${#fields.errors('adopter.email')}" class="form-error"
                                   th:text="${error}"> Bad Email </p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="phone" class="col-3 col-form-label"
                               style="font-family: 'Fredoka One', cursive; letter-spacing: 1px;">Phone Number:</label>
                        <div class="col-9">
                            <input type="text" class="form-control" id="phone" name="phone" th:value="${adopter.phone}">
                            <div th:if="${#fields.hasErrors('adopter.phone')}">
                                <p th:each="error : ${#fields.errors('adopter.phone')}" class="form-error"
                                   th:text="${error}"> Bad Phone Number </p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="address" class="col-3 col-form-label"
                               style="font-family: 'Fredoka One', cursive; letter-spacing: 1px;">Address:</label>
                        <div class="col-9">
                            <input type="text" class="form-control" id="address" name="address"
                                   th:value="${adopter.address}">
                            <div th:if="${#fields.hasErrors('adopter.address')}">
                                <p th:each="error : ${#fields.errors('adopter.address')}" class="form-error"
                                   th:text="${error}"> Bad Address </p>
                            </div>
                        </div>
                    </div>
                    <div class="justify-content-center mb-3">
                        <button type="submit" class="btn"
                                style="font-family: 'Fredoka', cursive; background-color: #FF9B26; color: white; margin-top: 40px; margin-right: 10px; border-radius: 20px; font-size: 20px; transition: background-color 0.3s;"
                                onmouseover="this.style.backgroundColor='#FFC581';"
                                onmouseout="this.style.backgroundColor='#FF9B26';">Confirm
                        </button>
                        <a href="#" th:href="@{/adopters}" class="btn"
                           style="font-family: 'Fredoka', cursive; background-color: #A7A7A7; color: white; margin-top: 40px; border-radius: 20px; font-size: 20px; transition: background-color 0.3s; margin-left: 10px;"
                           onmouseover="this.style.backgroundColor='#E1E1E1';"
                           onmouseout="this.style.backgroundColor='#A7A7A7';">Cancel</a>
                    </div>
                </form>
            </div>
        </div>


        <!-- Bottom Banner -->
        <div class="banner-image" style="background-image: url('pet-banner.png');
                background-repeat: no-repeat;
                background-size: cover;
                height: 100px;
                position: fixed;
                bottom: 0;
                left: 0;
                width: 100vw;
                z-index: -1;">
        </div>
    </div>
</div>
<!-- End main body -->

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>
</html>
